.main-contents__box
  .main-contents__box__name
    = message.user.name
    .main-contents__box__name--created_at
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main-contents__box__text
    - if message.content.present?
      %p.main-contents__box__text--memo
        = message.content
    = image_tag message.image.url, class: 'main-contents__box__text--image' if message.image.present?
