.chat-side
  .side-header
    .side-header__box
      .side-header__box__name
        masa
      .side-header__box__edit
        = link_to "#", class:"side-header__box__edit-icons" do
          = icon('far', 'edit')
          %span<>
        = link_to "#", class:"side-header__box__edit-icons" do
          = icon('fas', 'cog')

  .side-group
    .side-group__box
      .side-group__box__name
        techcamp
      .side-group__box__message
        まだメッセージがありません


