* {
  box-sizing: border-box;
}

$selectcolor: #ffffff;
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.side-header{
  height: 100px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: #253141;
  &__box {
    height: 20px;
    width: 260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    &__name {
      color: $selectcolor;
      font-size: 16px;
      font-weight: bold;
    }
    &__edit {
      width: 60px;
      text-align: right;
      &-icons {
        text-decoration: none;
        color: $selectcolor;
        margin-left: 5px;
      }
    }
  }
}

.side-group {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  &__box {
    padding: 20px 20px 40px;
    color: $selectcolor;
    &__name {
      font-size: 15px;
    }
    &__message {
      font-size: 11px;
      margin-top: 5px;
    }
  }
}



.main-header {
  background-color: $selectcolor;
  border: 1px solid #eeeeee;
  width: calc(100vw - 300px);
  display: flex;
  justify-content: space-between;
  height: 100px;
  &__box {
    margin-left: 40px;
    margin-top: 35px;
    &__test {
      color: #333333;
      font-size: 20px;
      margin-bottom: 15px;
    }
    &__member {
      color: #999999;
      font-size: 12px;
      display: flex;
    }
  }
  &__edit {
    &-btn {
      height: 40px;
      width: 72px;
      text-decoration: none;
      color: #38aef0;
      font-size: 16px;
      border: 1px solid #38aef0;
      display: flex;
      align-items: center;
      margin: 28px 40px;
      padding: 0 20px;
    }
  }
}

.main-contents {
  height: calc(100vh - 190px);
  width: calc(100vw - 300px);
  background-color: #fafafa;
  &__box {
    padding: 35px 0 46px 40px;
    &__name {
      display: flex;
      margin-bottom: 15px;
      color: #333333;
      font-size: 16px;
      &-created_at {
        color: #999999;
        font-size: 12px;
        margin-left: 5px;
      }
    }
    &__text {
      color: #434a54;
      font-size: 14px;
    }
  }
}

.main-form {
  height: 90px;
  width: calc(100vw - 300px);
  background-color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  &__box {
    display: flex;
    position: relative;
    width: calc(100vw - 495px);
    height: 50px;
    background-color: $selectcolor;
    &__text {
      &-message {
        height: 50px;
        width: calc(100vw - 495px);
        border: none;
        padding: 0 40px 0 10px;
      }
    }
    &__image {
      position: absolute;
      right: 10px;
      line-height: 50px;
      &-file {
        display: none;
      }
    }
  }
  &__submit {
    width: 100px;
    height: 50px;
    color: $selectcolor;
    background-color: #38aef0;
    cursor: pointer;
  }

}